@layer components {
  .tag-page-title {
    margin-block-end: var(--space-s);
  }

  .tag-page-results {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }

  .tag-page-current-tag {
    align-self: flex-start;
    max-inline-size: 100%;
  }
}
