@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    min-inline-size: 0;
  }

  html {
    hanging-punctuation: first last;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  figure,
  dl,
  dd {
    margin: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    cursor: pointer;
  }

  textarea {
    resize: vertical;
  }

  table {
    inline-size: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  summary {
    cursor: pointer;
  }

  :target {
    scroll-margin-block-start: calc(
      var(--ph-header-height) + var(--ph-space-6)
    );
  }
}
