name: Tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version-file: .tool-versions
          cache: true
      - name: Environment variables
        run: printenv | sort
      - name: Lint
        run: deno lint
      - name: Test
        run: deno test --coverage --exclude=tests/helpers/dom.ts
